@use "../../sass/helpers/mixins" as *;
@use "../../sass/variables/colors" as *;
@use "../../sass/variables/others" as *;

.content {
  > .container {
    @include medias("mobile") {
      padding-top: 30px;
    }
    .text {
      max-width: 751px;
      max-height: 900px;
      margin: 20px auto 30px;
      border: 15px groove $blue-3-color;
      border-radius: 10px;
      padding: 20px;
      overflow: auto;
      @include medias("mobile") {
        padding: 10px;
      }
      &.focus {
        box-shadow: 0 0 306px 316px #00000061, 0 0 37px inset;
      }
    }
  }
}
