@use "../../../sass/helpers/mixins" as *;
@use "../../../sass/variables/colors" as *;
@use "../../../sass/variables/others" as *;

.audio-btn {
  @include centerbyflex(null);
  padding: 5px;
  border: none;
  background-color: transparent;
  color: $blue-3-color;
  cursor: pointer;
  outline: none;

  &:disabled {
    color: $black-1-color;
    opacity: 0.5;
    pointer-events: none;
  }
  @include oneValue("&.play-pause-btn", font-size, 0.8rem);
  @include oneValue("&.volume-btn", font-size, 1rem);
}

.loading-spinner {
  height: 30px;
  padding-right: 10px;
  pointer-events: none;
  scale: 0.5;
  > div {
    padding: 0 !important;
  }
}
