$blue-1-color: #8ecae6;
$blue-2-color: #219ebc;
$blue-3-color: #005377;
$blue-4-color: #023047;

$yellow-color: #d5c67a;
$gold-color: #ffb703;
$orange-color: #fb8500;

$green-1-color: #a5a58d;
$green-2-color: #83c5be;
$green-3-color: #06a77d;
$green-4-color: #264653;

$red-1-color: #d62828;

$black-1-color: #343a40;
$black-2-color: #212529;
