@use "../../sass/helpers/mixins" as *;
@use "../../sass/helpers/localMixins" as *;
@use "../../sass/variables/colors" as *;
@use "../../sass/variables/others" as *;
@use "sass:map";

.audio-cont {
  width: 100%;
  @include centerbyflex("vertical");
  gap: 5px;
  @include medias("mobile") {
    gap: 2px;
  }

  input[type="range"] {
    --progress: 0%;
    position: relative;
    appearance: none;
    background: none;
    flex: 1;
    cursor: pointer;

    @include oneValue("&:disabled", pointer-events, none);
    @include oneValue("&:focus::before", background-color, $blue-3-color);
    @include oneValue("&:disabled::before", background-color, grey);

    @each $browser, $prefixes in $all {
      $extra: null;
      @if ($browser== "chrome") {
        $extra: none;
      }
      @each $key, $value in $prefixes {
        &::#{$value} {
          appearance: $extra;
          @include range-parts($key);
        }
        &:focus::#{$value} {
          @if ($key== "track") {
            background-color: #66a8c6;
          } @else if($key== "progress") {
            background-color: $blue-3-color;
          } @else if($key== "thumb") {
            background-color: $blue-3-color;
          }
        }

        &:disabled::#{$value} {
          @if ($key== "thumb") {
            background-color: $black-1-color;
          } @else {
            background-color: grey;
          }
        }
      }
    }

    &::before {
      content: "";
      @include position(
        null,
        absolute,
        var(--progress),
        null,
        $left: 0,
        $top: 0
      );
      @include range-parts("progress");
    }
  }
}
